<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TuixiuVSTO.Properties.Settings.jzyy_payConnectionString" connectionString="Data Source=ROG;Initial Catalog=jzyy_pay;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBModel" connectionString="metadata=res://*/Modules.DBModel.csdl|res://*/Modules.DBModel.ssdl|res://*/Modules.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROG;initial catalog=jzyy_pay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>